---
import BaseLayout from "@/layouts/BaseLayout.astro";
import SectionWrapper from "@/layouts/SectionWrapper.astro";
---

<BaseLayout title="Cucc Outreach">
  <SectionWrapper fullBleed class="p-20" contentWrapperClass="bg-purple-500">
    <h1 class="font-serif text-white text-4xl">CUCC Unity In Action Page</h1>
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/kYKn7KD4V7E?si=WP_lmAsun3gCktim&controls=0"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen></iframe>
  </SectionWrapper>
</BaseLayout>
