@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-color: #fda214;
  --dark-base: #16161d;
  --accent: 136, 58, 234;
  --accent-light: 224, 204, 250;
  --accent-dark: 49, 10, 101;
  --accent-gradient: linear-gradient(
    45deg,
    rgb(var(--accent)),
    rgb(var(--accent-light)) 30%,
    white 60%
  );

  --page-dw: min(90vw, 1280px);
  --inner-page-padding-x: 2rem;
  --header-height: 67px;
  --header-py: 2rem;
  --header-added-height: calc(var(--header-py)*2);
}
html {
  @apply font-sans;
}
code {
  font-family:
    Menlo,
    Monaco,
    Lucida Console,
    Liberation Mono,
    DejaVu Sans Mono,
    Bitstream Vera Sans Mono,
    Courier New,
    monospace;
}

@layer utilities {
  .inner-content-wrapper {
    @apply mx-auto max-w-[var(--page-dw)] px-[var(--inner-page-padding-x)];
  }
}
