---
import BaseLayout from "@/layouts/BaseLayout.astro";
import BaseHead from "@/components/BaseHead.astro";
import LottieAnimation from "astro-integration-lottie/Lottie.astro";
import SectionWrapper from "@/layouts/SectionWrapper.astro";
import { Link } from "@/components/Link";
---

<BaseLayout>
  <BaseHead slot="base-head" />
  <SectionWrapper class="place-self-center">
    <article class="space-y-6 text-center">
      <LottieAnimation
        src="https://lottie.host/0e35969d-3ea9-4821-9ce0-fda30bce7af5/m1cJ3EpWNQ.json"
        autoplay="visible"
        class="mx-auto w-40"
      />
      <h1 class="font-serif text-2xl font-normal text-slate-800">
        I think you're lost
      </h1>
      <Link
        href="/"
        className="block rounded-full bg-brand-color p-2 font-sans text-sm font-normal text-white hover:bg-brand-color-darker"
      >
        Navigate home
      </Link>
    </article>
  </SectionWrapper>
</BaseLayout>
