---
import BaseLayout from "@/layouts/BaseLayout.astro";
import LottieAnimation from "astro-integration-lottie/Lottie.astro";
import SectionWrapper from "@/layouts/SectionWrapper.astro";
---

<BaseLayout title="Cebu United Car Campers | Page under active development">
  <SectionWrapper class="place-self-center">
    <LottieAnimation
      src="https://lottie.host/36a23853-f197-4d8d-b6b5-61a4ad2878d1/ZSjgNpKvRH.json"
      autoplay="visible"
      class="mx-auto w-40"
    />
    <article class="text-center">
      <h1 class="font-serif text-2xl font-normal text-slate-800">
        Packing Up Gear – Launching Soon!
      </h1>
      <p class="text-slate-500">
        This page is currently under active developmentt
      </p>
    </article>
  </SectionWrapper>
</BaseLayout>
