---
import BaseLayout from "@/layouts/BaseLayout.astro";
import LottieAnimation from "astro-integration-lottie/Lottie.astro";
---

<BaseLayout title="Cebu United Car Campers | Page under active development">
  <article class="grid place-content-center min-h-screen">
    <h1 class="text-slate-100 font-normal text-2xl font-serif">
      Check back later
    </h1>
    <LottieAnimation
      src="https://lottie.host/12aaf0b6-4734-448f-9f85-c0e3b22b60ec/yxfCnLTd9H.json"
      autoplay="visible"
    />
  </article>
</BaseLayout>
