---
import SectionWrapper from "@/layouts/SectionWrapper.astro";
---

<SectionWrapper class="bg-slate-800">
  <footer class="inner-content-wrapper py-8 text-center">
    <p class="text-balance font-serif text-white">
      Designed & Coded with ❤️ by <a
        href="https://www.facebook.com/keicarcamper"
        target="_blank"
        class="text-brand-color underline">Kei Car Camper</a
      >
    </p>
  </footer>
</SectionWrapper>
