---
import { Image } from "astro:assets";
import cuccLogo from "@/assets/CUCC Wordmark Logo - Optimized.png";
const currentPath = Astro.url.pathname.split("/")[1];
const navigationLinks = [
  { name: "Trade Fair Campout", path: "/trade-fair-campout" },
  { name: "Campfire Chronicles", path: "/campfire-chronicles" },
  { name: "Unity In Action", path: "/unity-in-action" },
  { name: "About Us", path: "/about-us" },
];
---

<header
  class="mx fixed left-0 right-0 top-[var(--header-py)] z-50 mx-auto max-w-[calc(var(--page-dw)-4rem)] rounded-full bg-white px-6 py-4 shadow-md"
  id="header"
>
  <span class="sr-only">Cebu United Car Campers Official Website</span>
  <nav class="flex items-center justify-between">
    <div class="flex items-center gap-x-12">
      <a href="/" class="text-2xl font-bold">
        <Image
          src={cuccLogo}
          alt="Cebu United Car Campers Wordmark Logo"
          width={88}
          loading={"eager"}
        />
      </a>
      <ul class="flex items-center">
        {
          navigationLinks.map((link) => {
            const linkPath = link.path.split("/")[1];
            const isCurrentPath = currentPath === linkPath;
            return (
              <li class="text-base">
                <a
                  href={link.path}
                  class:list={[
                    "px-2 py-4",
                    isCurrentPath
                      ? "text-brand-color"
                      : "text-slate-600 hover:text-slate-900",
                  ]}
                >
                  {link.name}
                </a>
              </li>
            );
          })
        }
      </ul>
    </div>
    <span>CTA Here</span>
  </nav>
</header>

<style>
  li:has(a:is(:hover, :focus-visible)) {
    anchor-name: --a;
  }
  ul::before {
    content: "";
    z-index: -1;
    position: absolute;
    height: 2px;
    left: anchor(--a left);
    width: anchor-size(--a width);
    bottom: 0;
    @apply rounded-full bg-brand-color transition-all;
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const header = document.getElementById("header");
    if (header) {
      const headerHeight = header.offsetHeight;
      document.documentElement.style.setProperty(
        "--header-height",
        `${headerHeight}px`
      );
    }
  });
</script>
