---
import "@fontsource/yeseva-one";
import "@fontsource/lato";
import "@/styles/globals.css";
import MainNavigation from "@/components/MainNavigation.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/cucc-favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <MainNavigation />
    <main>
      <slot />
    </main>
  </body>
</html>

<style>
  main {
    display: grid;
    grid-template-columns: 1fr var(--page-dw) 1fr;
    min-height: 100dvh;
  }
</style>
