---
import "@fontsource/yeseva-one";
import "@fontsource/lato";
import "@/styles/globals.css";
import MainNavigation from "@/components/MainNavigation.astro";
import Footer from "@/components/Footer.astro";
---

<html lang="en">
  <head>
    <slot name="base-head" />
  </head>
  <body>
    <MainNavigation />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  main {
    display: grid;
    grid-template-columns: 1fr var(--page-dw) 1fr;
    min-height: 100dvh;
  }
</style>
