---
interface Props {
  fullBleed?: boolean;
  class?: string;
  contentWrapperClass?: string;
}

const {
  fullBleed,
  class: className,
  contentWrapperClass,
  ...props
} = Astro.props;
---

<section
  class:list={[
    className,
    {
      "w-full col-span-full": fullBleed,
      "col-start-2": !fullBleed,
    },
  ]}
  {...props}
>
  <slot />
</section>
