---
interface Props {
  fullBleed?: boolean;
  class?: string;
  style?: string;
}

const { fullBleed, class: className, style, ...props } = Astro.props;
---

<section
  class:list={[
    className,
    {
      "w-full col-span-full": fullBleed,
      "col-start-2": !fullBleed,
    },
  ]}
  style={style}
  {...props}
>
  <slot />
</section>
